@media screen and (max-width: 830px) {
    .calculator-grid {
        margin-top: 1.8rem;
        grid-template-columns: repeat(5, 5rem);
        grid-template-rows: minmax(6rem, auto) repeat(5, 5rem);
        padding: 0.4rem;
        grid-gap: 0.18rem;
    }

    .calculator-grid>button {
        font-size: 1.8rem;
    }

    .output .previous-operand {
        font-size: 1.3rem;
    }

    .output .current-operand {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 430px) {
    .calculator-grid {
        margin-top: 1.5rem;
        grid-template-columns: repeat(5, 4.2rem);
        grid-template-rows: minmax(5rem, auto) repeat(5, 4.2rem);
        padding: 0.3rem;
        grid-gap: 0.15rem;
    }

    .calculator-grid>button {
        font-size: 1.5rem;
    }

    .output .previous-operand {
        font-size: 1rem;
    }

    .output .current-operand {
        font-size: 2rem;
    }
}