@import 'responsive.css'; 

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #2760fd, #57005f);
}

.calculator-grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(5, 5.5rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 5.5rem);
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(192, 192, 192);
    padding: 0.5rem;
    grid-gap: 0.2rem;
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 2.5px solid black;
    outline: none;
    background-color: rgba(49, 153, 148, .95);
    border-radius: 0.3rem;
}

.calculator-grid>button:hover,
.calculator-grid>button:focus {
    background-color: rgba(49, 153, 148, 0.45);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .35);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0.75rem;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 3px solid black;
}

.output .previous-operand {
    font-family: sans-serif;
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    font-family: sans-serif;
    color: white;
    font-size: 2.5rem;
}

